fastapi
sqlalchemy
pydantic-settings
pydantic[email]
nats-py
uvicorn
python-multipart
psycopg2-binary>=2.9.0
opentelemetry-api
opentelemetry-sdk
python-keycloak
opentelemetry-exporter-otlp-proto-grpc
python-jose[cryptography]